trigger:
- 'do-e2e-test'

resources:
  repositories:
  - repository: e2etest # The name used to reference this repository in the checkout step
    type: github
    endpoint: jaysonmc
    name: jaysonmc/temp-ocio-powerplatform-bdd-tests
    ref: e2e-pipeline


stages:
- stage: E2ETest
  displayName: E2ETest
  jobs:
  - job: e2e_tests
    timeoutInMinutes: 120
    pool:
      vmImage: 'ubuntu-latest'
    container:
      image: mcr.microsoft.com/playwright:focal
      
    steps:
      - checkout: e2etest
      - task: Npm@1
        inputs:
          command: 'install'
        displayName: 'installing dependencies'

# using CmdLine instead of Npm because npm buffers the entire output
      - task: CmdLine@2
        displayName: 'Running e2e tests'
        inputs:
          script: npm run test-regressions

